

<div class="container">
	<div class="row">
		<div class="col s12">
			<h4>Proyecto Pedidos para Mascota Feliz</h4>
		</div>
	</div>
	<div class="row">
    <div class="col s12 m11 20">
      <div class="card">
        <div class="card-image">
          <img src="">
          <span class="card-title"></span>
        </div>
        <div class="card-content ">
          <p>Este proyecto pretende mostrar lo aprendido en clase para el ciclo 4 </p>
          <p>El proyecto tiene Mongo, Angular, Express, Node Js</p>
          <p>Esta proyecto contiene seguridad y permite que el usuario inicie sesion</p>
          <p>y segun su rol, le permitira acceder a ciertas funcionalidades de este modulo</p>
        </div>
      </div>
    </div>
